* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#backgroundImg {
    background-image: url("bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* ::::::::::::::::::::::::::::::::::: Header ::::::::::::::::::::::::::::::::::: */

header {
    padding: 10px 20px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}